@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Sora:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.swiper-class .swiper-button-prev,
.swiper-class .swiper-button-next {
  font-size: 0.5em;
  color: #000;
}

.swiper-class .swiper-button-prev::after,
.swiper-class .swiper-button-next::after {
  font-size: 4em;
  padding: 0.4em 0.8em;
  border-radius: 3em;
  /* background-color: #000; */
  /* color: rgb(244, 244, 245); */
  color: #000;
  font-family: "Sora", sans-serif;
  margin-top: -0.25em;
  transition: 200ms;
}

.swiper-class .swiper-button-prev:hover::after,
.swiper-class .swiper-button-next:hover::after {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
}

.swiper-class .swiper-button-prev::after {
  content: "‹";
}

.swiper-class .swiper-button-next::after {
  content: "›";
}

.swiper-class .swiper-button-prev {
  left: 10px;
}

.swiper-class .swiper-button-next {
  right: 10px;
}
